@font-face {
  font-family: "Monument Extended";
  font-weight: normal;
  font-style: normal;
  src:
    url(./assets/fonts/MonumentExtended-Regular.woff2) format("woff2"),
    url(./assets/fonts/MonumentExtended-Regular.woff) format("woff"),
    url(./assets/fonts/MonumentExtended-Regular.otf) format("opentype");
}

body {
  margin: 0;
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container section {
  width: 100vw;
  height: auto;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "month month month month month month logo logo . . . ."
    "month month month month month month logo logo . . . ."
    "month month month month month month logo logo . . . ."
    "month month month month month month . . . . . ."
    "month month month month month month . rp rp rp rp ."
    "month month month month month month . rp rp rp rp ."
    "month month month month month month . rp rp rp rp ."
    "month month month month month month . . . . . ."
    "month month month month month month . lp lp lp lp ."
    "month month month month month month . lp lp lp lp arrow"
    "month month month month month month . lp lp lp lp arrow"
    "month month month month month month . . . . . arrow";
}

.top-container section .left-content {
  grid-area: month;
}

.top-container section .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo;
}

.top-container section .logo img {
  width: 100%;
  height: auto;
}

.top-container section .right-paragraph {
  grid-area: rp;
}

.top-container section .left-paragraph {
  grid-area: lp;
}

.top-container section .arrow {
  grid-area: arrow;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-container section .arrow svg {
  width: 3.1106rem;
  height: 3.9113rem;
}

.middle-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(13, 1fr);
  grid-template-areas:
    ". . . . . . . ."
    ". . fillet fillet fillet fillet . ."
    ". . . . . . . ."
    ". module module module module module module ."
    ". module module module module module module ."
    ". module module module module module module ."
    ". module module module module module module ."
    ". module module module module module module ."
    ". module module module module module module ."
    ". module module module module module module ."
    ". module module module module module module ."
    ". module module module module module module arrow"
    ". . . . . . . arrow";
}

.middle-container .fillet-container {
  grid-area: fillet;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-container .center-paragraph {
  grid-area: module;
}

.middle-container .arrow {
  grid-area: arrow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-container .arrow svg {
  width: 3.1106rem;
  height: 3.9113rem;
  transform: translateX(30px);
}

.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sliding-text {
  width: 100vw;
  height: 6.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fillet-bottom {
  width: 100%;
  height: 400px;
  background: #ffec02;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .top-container section {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "month month month month month month month .  logo logo "
      "month month month month month month month .  logo logo "
      ". rp rp rp rp rp rp rp rp ."
      ". lp lp lp lp lp lp lp lp arrow"
      ". . . . . . . . . arrow";
  }

  .top-container section .left-content {
    grid-area: month;
    width: auto;
    height: auto;
  }

  .top-container section .logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    grid-area: logo;
    overflow: hidden;
  }

  .top-container section .logo img {
    width: 100%;
    height: auto;
  }

  .top-container section .right-paragraph {
    grid-area: rp;
    width: auto;
  }

  .top-container section .left-paragraph {
    grid-area: lp;
  }

  .top-container section .arrow {
    grid-area: arrow;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .top-container section .arrow svg {
    width: 3.1106rem;
    height: 3.9113rem;
  }

  .middle-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      ". fillet fillet ."
      "module module module module"
      "module module module module"
      "module module module module"
      "module module module module"
      "module module module module"
      "module module module module"
      ". . . arrow";
  }

  .middle-container .fillet-container {
    grid-area: fillet;
    display: flex;
    align-items: center;
  }

  .middle-container .center-paragraph {
    grid-area: module;
  }

  .middle-container .arrow {
    grid-area: arrow;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .middle-container .arrow svg {
    width: 3.1106rem;
    height: 3.9113rem;
    transform: translateX(30px);
  }
}

@media screen and (max-width: 375px) {
  .top-container section {
    margin: auto;
    width: 100%;
    height: auto;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
      ". . . logo "
      "month month month month"
      "month month month month"
      "month month month month"
      "rp rp rp rp"
      "rp rp rp rp"
      "lp lp lp lp"
      "lp lp lp lp"
      ". . . arrow";
  }

  .top-container section .left-content {
    grid-area: month;
    width: auto;
    height: auto;
  }

  .top-container section .logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    grid-area: logo;
    overflow: hidden;
    padding-bottom: 10%;
  }

  .top-container section .logo img {
    width: 100%;
    height: auto;
  }

  .top-container section .right-paragraph {
    grid-area: rp;
    width: auto;
    padding: 5%;
  }

  .top-container section .left-paragraph {
    grid-area: lp;
    padding: 5%;
  }

  .top-container section .arrow {
    width: 100%;
    height: 100%;
    grid-area: arrow;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .top-container section .arrow svg {
    width: 3.1106rem;
    height: 3.9113rem;
  }

  .middle-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      ". fillet fillet ."
      "module module module module"
      "module module module module"
      "module module module module"
      "module module module module"
      ". . . arrow";
  }

  .middle-container .fillet-container {
    grid-area: fillet;
    display: flex;
    align-items: center;
  }

  .middle-container .center-paragraph {
    grid-area: module;
  }

  .middle-container .arrow {
    grid-area: arrow;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .middle-container .arrow svg {
    width: 3.1106rem;
    height: 3.9113rem;
    transform: translateX(30px);
  }

  .bottom-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sliding-text {
    width: 100vw;
    height: 6.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fillet-bottom {
    width: 100%;
    height: 150px;
    background: #ffec02;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logo:hover img {
  filter: drop-shadow( 0 0 10px #8f8f8f);
}
