@font-face {
  font-family: "Monument Extended";
  font-weight: normal;
  font-style: normal;
  src:
    url(../assets/fonts/MonumentExtended-Regular.woff2),
    url(../assets/fonts/MonumentExtended-Regular.woff),
    url(../assets/fonts/MonumentExtended-Regular.otf);
}

body {
  margin: 0;
  width: 100vw;
  background-color: black;
}

/* TODO arreglar el tema de la vista en ordenador porque sale una barra de scroll horizontal */

.top-container {
  width: 100vw;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 0.5fr);
  grid-template-areas:
    "month month month month month month logo logo . . . ."
    "month month month month month month logo logo . . . ."
    "month month month month month month logo logo . . . ."
    "month month month month month month . . . . . ."
    "month month month month month month . rp rp rp rp ."
    "month month month month month month . rp rp rp rp ."
    "month month month month month month . rp rp rp rp ."
    "month month month month month month . . . . . ."
    "month month month month month month . lp lp lp lp ."
    "month month month month month month . lp lp lp lp arrow"
    "month month month month month month . lp lp lp lp arrow"
    "month month month month month month . . . . . arrow";
}

.top-container .left-content {
  grid-area: month;
}

.top-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo;
}

.top-container .logo img {
  width: 100%;
  height: auto;
}

.top-container .right-paragraph {
  grid-area: rp;
}

.top-container .left-paragraph {
  grid-area: lp;
}

.top-container .arrow {
  grid-area: arrow;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-container .arrow svg {
  width: 3.1106rem;
  height: 3.9113rem;
}

.middle-container {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(22, 1fr);
  grid-template-areas:
    ". . . . . . . . . . . . . . . ."
    ". . . . fillet fillet fillet fillet fillet fillet fillet fillet . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module . ."
    ". . module module module module module module module module module module module module arrow arrow"
    ". . module module module module module module module module module module module module arrow arrow"
    ". . module module module module module module module module module module module module arrow arrow"
    ". . . . . . . . . . . . . . . .";
}

.middle-container .fillet-container {
  grid-area: fillet;
}

.middle-container .center-paragraph {
  grid-area: module;
}

.middle-container .arrow {
  grid-area: arrow;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.middle-container .arrow svg {
  width: 3.1106rem;
  height: 3.9113rem;
}

.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movingt {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fillet-bottom {
  width: 100%;
  height: 400px;
  background: #ffec02;
  display: flex;
  align-items: center;
  justify-content: center;
}
